.main-slider {
	@media (max-width: 48em) {
		margin: 0 -15px;
	}
}
.swiper-wrapper {
	padding: 10px 0;
}
.btn-prev,
.btn-next {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--accentColor);
	transition: background-color 0.3s ease-in-out;
	&::after {
		content: "";
		background-image: url(../../assets/images/icons/arrow.svg);
		width: 24px;
		height: 24px;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--accentHoverColor);
		}
	}
	@media (max-width: 48em) {
		display: none;
	}
}
.btn-next {
	&::after {
		transform: rotate(180deg);
	}
}
.slide {
	width: 346px;
	height: 436px;
	@media (max-width: 48em) {
		width: 300px;
		height: 378.03px;
	}
	@media (max-width: 30em) {
		width: 250px;
		height: 315.03px;
	}
}
.link {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	&:focus-visible {
		outline: 2px solid var(--blue1Color);
		border-radius: 6px;
	}
}
.image {
	object-fit: contain;
	object-position: center;
}
