.button {
	display: inline-block;
	color: var(--mainDarkColor);
	font-size: 1.5rem;
	text-align: center;
	white-space: nowrap;
	padding: 16px 40px;
	border-radius: 2rem;
	background-color: var(--accentColor);
	transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--accentHoverColor);
		}
	}
	&:focus-visible {
		outline: 2px solid var(--blue1Color);
		outline-offset: 2px;
		background-color: var(--accentHoverColor);
	}
	&:active {
		color: var(--buttonActiveColor);
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&.button--withCartIcon {
		position: relative;
		z-index: 2;
		padding-left: 40px;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 16px;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background-image: url(../../assets/images/icons/pushcart.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@media (max-width: 62em) {
				width: 20px;
				height: 20px;
				left: 20px;
			}
		}
		@media (max-width: 62em) {
			padding-left: 50px;
		}
	}
	&.button--withAdditionalFilling {
		position: relative;
		padding-left: 64px;
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 12px;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: url(../../assets/images/icons/x2.svg), #ffffff;
			background-size: 24px;
			background-repeat: no-repeat;
			background-position: center;
			@media (max-width: 62em) {
				left: 10px;
				background-size: 20px;
			}
		}
	}
	&.button--withoutAdditionalFilling {
		position: relative;
		padding-left: 64px;
		background-color: var(--hoverBackgroundColor);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentHoverColor);
			}
		}
		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 12px;
			transform: translateY(-50%);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: url(../../assets/images/icons/x2.svg), #ffffff;
			background-size: 24px;
			background-repeat: no-repeat;
			background-position: center;
			@media (max-width: 62em) {
				left: 10px;
				background-size: 20px;
			}
		}
	}
	&.button--formSubmit {
		background-color: var(--mainDarkColor);
		color: #ffffff;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentColor);
				color: var(--mainDarkColor);
			}
		}
		&:focus-visible {
			background-color: var(--accentColor);
			color: var(--mainDarkColor);
		}
		&:active {
			background-color: var(--accentColor);
			color: var(--buttonActiveColor);
			transition: none;
		}
	}
	@media (max-width: 62em) {
		font-size: 1.25rem;
		padding: 14px 30px;
	}
}
