.button-cart {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hoverBackgroundColor);
		}
	}
	&:focus-visible {
		outline: 2px solid var(--accentColor);
		outline-offset: 2px;
	}
}
.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.shaking {
		animation: cartIconShaking 0.5s ease-in-out forwards;
	}
}
.quantity {
	position: absolute;
	top: 0;
	left: 57%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 1.7rem;
	height: 1.7rem;
	padding: 6px;
	border-radius: 50%;
	background-color: var(--accentColor);
	font-size: 1rem;
	border: 2px solid #ffffff;
	opacity: 0;
	visibility: hidden;
	transform: scale(0) translateY(20px);
	transition: all 0.3s ease-in-out;
	&.visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1) translateY(0);
	}
}

// cart icon shaking on header move
@keyframes cartIconShaking {
	0%,
	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	20%,
	60% {
		transform: translate(-50%, -50%) rotate(-15deg);
	}
	40%,
	80% {
		transform: translate(-50%, -50%) rotate(15deg);
	}
}
