.cart-list {
	// .cart-list__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	// .cart-list__item
	&__item {
	}
}
.cartItemTransition {
	&-enter,
	&-appear {
		opacity: 0;
		transform: translateX(100%);
	}
	&-enter-active,
	&-appear-active {
		opacity: 1;
		transform: translateX(0);
		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	}
	&-exit {
		opacity: 1;
		transform: translateX(0);
	}
	&-exit-active {
		opacity: 0;
		transform: translateX(100%);
		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	}
}
