.section-products {
	padding: 90px 0;
	@media (max-width: 62em) {
		padding: 20px 0;
	}
	@media (max-width: 48em) {
		padding: 20px 0;
	}
	// .section-products__inner
	&__inner {
	}
	// .section-products__header
	&__header {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		padding-bottom: 1em;
	}
	// .section-products__header-left
	&__header-left {
		display: flex;
		align-items: center;
		gap: 20px;
		@media (max-width: 48em) {
			width: 100%;
			justify-content: space-between;
		}
	}
	// .section-products__title
	&__title {
		font-size: 2rem;
		line-height: 125%;
		font-weight: 400;
		color: var(--mainDarkColor);
	}
	// .section-products__slider-buttons
	&__slider-buttons {
		display: flex;
		gap: 12px;
	}
	// .section-products__slider-button
	&__slider-button {
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--hoverBackgroundColor);
		transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentColor);
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 24px;
			height: 24px;
			background-image: url(../assets/images/icons/arrow.svg);
			transform: translate(-50%, -50%);
		}
		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			outline-offset: 2px;
		}
	}
	// .section-products__button-prev
	&__button-prev {
	}
	// .section-products__button-next
	&__button-next {
		&:after {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
	// .section-products__right
	&__right {
		@media (max-width: 48em) {
			display: none;
		}
	}
	// .section-products__button
	&__button {
	}
	// .section-products__slider
	&__slider {
		position: relative;
		margin: 0 -15px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			z-index: 2;
			width: 30px;
			background: linear-gradient(
				90deg,
				#ffffff 34.24%,
				rgba(217, 217, 217, 0) 105.15%,
				rgba(255, 255, 255, 0) 105.15%
			);
			@media (max-width: 62em) {
				display: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			width: 30px;
			background: linear-gradient(
				-90deg,
				#ffffff 34.24%,
				rgba(217, 217, 217, 0) 105.15%,
				rgba(255, 255, 255, 0) 105.15%
			);
			@media (max-width: 62em) {
				display: none;
			}
		}
		.swiper {
			padding: 30px 0;
		}
		.swiper-slide {
			max-width: 23.5rem;
			height: unset;
			min-height: 100%;
			@media (max-width: 48em) {
				max-width: 20rem;
			}
			.add-to-cart-button {
				@media (max-width: 62em) {
					font-size: 1.25rem;
					border-radius: 1.6em;
				}
			}
		}
	}
	// .section-products__user-actions
	&__user-actions {
		display: none;
		@media (max-width: 48em) {
			display: block;
			text-align: center;
		}
	}
}
.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 23.5rem;
	width: 100%;
	min-height: 100%;
	// .product-card__top
	&__top {
		position: relative;
		display: block;
		border-radius: 50%;
		width: 23.5rem;
		height: 23.5rem;
		@media (any-hover: hover) {
			&:hover {
				.product-card__image {
					animation: imageRotation 0.5s linear;
				}
			}
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			outline-offset: -10px;
		}
		@media (max-width: 48em) {
			width: 17.5rem;
			height: 17.5rem;
		}
	}
	// .product-card__image
	&__image {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		overflow: hidden;
		transition: transform 0.3s ease-in-out;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .product-card__labels
	&__labels {
		.product-card-labels__item {
			@media (max-width: 62em) {
				position: absolute;
			}
			span {
				@media (max-width: 48em) {
					font-size: 1rem;
					width: 85px;
					height: 85px;
				}
			}
			&:nth-child(1) {
				top: 10px;
				right: 30px;
				@media (max-width: 48em) {
					top: 5px;
					right: 5px;
				}
			}
			&:nth-child(2) {
				top: -35px;
				right: 125px;
				@media (max-width: 48em) {
					top: -30px;
					right: 85px;
				}
			}
			&:nth-child(3) {
				top: 105px;
				right: -10px;
				@media (max-width: 48em) {
					top: 90px;
					right: -15px;
				}
			}
			&:nth-child(4) {
				top: -10px;
				right: 225px;
				@media (max-width: 48em) {
					top: -15px;
					right: 170px;
				}
			}
		}
		.product-card-label {
			@media (max-width: 62em) {
				width: 100px;
				height: 100px;
				border: 8px solid #ffffff;
				font-size: 1.25rem;
			}
		}
	}
	// .product-card__description
	&__description {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: -40px;
		padding: 76px 28px 32px;
		border-radius: 32px;
		background-color: rgba(var(--hoverBackgroundColor, 0.3));
		@media (max-width: 48em) {
			padding: 50px 16px 16px;
		}
	}
	// .product-card__title
	&__title {
		flex: 1 1 auto;
		margin-bottom: 0.875em;
		margin-left: -6px;
		margin-right: -6px;
		color: var(--mainDarkColor);
		line-height: 125%;
		font-size: 2rem;
		text-align: center;
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--blue1Color);
			}
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			border-radius: 32px;
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: none;
		}
		@media (max-width: 48em) {
			font-size: 1.5rem;
			margin-bottom: 0.5em;
		}
	}
	// .product-card__prices
	&__prices {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;
		margin-bottom: 1em;
		@media (max-width: 48em) {
			margin-bottom: 0.5em;
		}
	}
	// .product-card__price
	&__price {
		// .product-card__price--old
		&--old {
			font-size: 1.25rem;
			color: var(--mainDarkColor);
			text-decoration: line-through;
			@media (max-width: 48em) {
				font-size: 1rem;
			}
		}
		// .product-card__price--current
		&--current {
			font-size: 2rem;
			color: var(--priceColor);
			@media (max-width: 48em) {
				font-size: 1.5rem;
			}
		}
	}
	// .product-card__user-actions
	&__user-actions {
	}
}
.user-actions {
	display: flex;
	align-items: center;
	max-width: 20rem;
	gap: 0.75rem;
	background-color: var(--hoverBackgroundColor);
	border-radius: 2rem;
	max-height: 3.8125rem;
	@media (max-width: 48em) {
		flex-direction: column;
		max-height: unset;
		gap: 0.25em;
		padding: 0.5rem;
	}
	// .user-actions__counter
	&__counter {
		flex: 1 0 auto;
		padding-left: 0.75rem;
		@media (max-width: 48em) {
			padding-left: 0;
		}
	}
	// .user-actions__counter-button
	&__counter-button {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		background-color: transparent;
		transition: background-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentHoverColor);
			}
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			background-color: var(--accentHoverColor);
		}
		&:disabled {
			pointer-events: none;
			opacity: 0.8;
		}
	}
	// .user-actions__counter-input
	&__counter-input {
		margin: 0 0.25rem;
		width: 2rem;
		height: 2rem;
		border: none;
		background-color: transparent;
		font-size: 1.5rem;
		color: var(--mainDarkColor);
		text-align: center;
		pointer-events: none;
	}
	// .user-actions__button
	&__button {
		border: 4px solid #ffffff;
		padding: 18px;
		min-width: 176px;
		min-height: 68px;
		line-height: 1;
		@media (max-width: 62em) {
			min-height: 64px;
			padding: 16px;
		}
		@media (max-width: 48em) {
			border: none;
			width: 100%;
			min-height: 56px;
		}
	}
}
.product-card-labels {
	@media (max-width: 62em) {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	&__item {
		position: absolute;
		@media (max-width: 62em) {
			position: static;
		}
		&:nth-child(1) {
			top: 20px;
			right: 40px;
		}
		&:nth-child(2) {
			top: -35px;
			right: 125px;
		}
		&:nth-child(3) {
			top: 110px;
			right: -10px;
		}
		&:nth-child(4) {
			top: -50px;
			right: 225px;
		}
	}
}
.product-card-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	padding: 8px;
	border-radius: 50%;
	border: 8px solid #ffffff;
	background-color: var(--accentColor);
	font-size: 1.25rem;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--mainDarkColor);
	@media (max-width: 62em) {
		font-size: 1rem;
		width: 75px;
		height: 75px;
		border: none;
	}
	&--hit {
		font-size: 2rem;
		color: var(--priceColor);
		@media (max-width: 48em) {
			font-size: 1.5rem;
		}
	}
	&--new-taste {
		background-color: var(--blue2Color);
		color: var(--blue1Color);
	}
	&--soon {
	}
	&--discount {
		background-color: var(--accentHoverColor);
	}
}
.add-to-cart-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	border: 4px solid #ffffff;
	border-radius: 1.33em;
	background-color: var(--accentColor);
	font-size: 1.5rem;
	overflow: hidden;
	transition: background-color 0.3s ease-in-out;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--accentHoverColor);
		}
	}
	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: -24px;
		transform: translate(-50%, -50%) rotate(-10deg);
		width: 24px;
		height: 24px;
		background-image: url(../assets/images/icons/pushcart.svg);
		z-index: 2;
	}
	&:after {
		position: absolute;
		content: "";
		top: 50%;
		left: -24px;
		transform: translate(-50%, -50%) rotate(-10deg);
		width: 24px;
		height: 18px;
		background: var(--accentColor);
		z-index: 1;
	}
	&:active {
		color: var(--buttonActiveColor);
		.add-to-cart-button__icon svg {
			color: var(--buttonActiveColor);
		}
	}
	&:focus-visible {
		outline: 2px solid var(--blue1Color);
		outline-offset: 2px;
	}
	&.adding {
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentColor);
			}
		}
		&::before,
		&::after {
			animation: pushcart 2s forwards;
		}
		.add-to-cart-button__icon {
			opacity: 0;
			transform: translateX(-100px);
		}
		.add-to-cart-button__title--default {
			opacity: 0;
			transform: scale(0);
		}
		.add-to-cart-button__title--success {
			opacity: 1;
			top: 50%;
			transition: opacity 0.3s ease-in-out 2s, top 0.3s ease-in-out 2s;
		}
		.add-to-cart-button__dots {
			animation: dots 2s linear forwards;
			visibility: visible;
		}
	}
	&.mobile {
		border: none;
		width: 100%;
		font-size: 1.25rem;
	}
	// .add-to-cart-button__icon
	&__icon {
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		svg {
			display: block;
			color: var(--mainDarkColor);
		}
	}
	// .add-to-cart-button__title
	&__title {
		display: block;
		white-space: nowrap;
		// .add-to-cart-button__title--default
		&--default {
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}
		// .add-to-cart-button__title--success
		&--success {
			position: absolute;
			top: 125%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
			opacity: 0;
			transition: none;
		}
	}
	// .add-to-cart-button__dots
	&__dots {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1px;
		opacity: 0;
		visibility: hidden;
	}
	// .add-to-cart-button__dot
	&__dot {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: var(--mainDarkColor);
	}
}
@keyframes pushcart {
	0% {
		left: calc(0% - 24px);
		transform: translate(-50%, -50%) rotate(-16deg);
	}
	41%,
	49%,
	57%,
	60% {
		left: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
	}
	40%,
	47%,
	54% {
		left: 50%;
		transform: translate(-50%, -47%) rotate(0deg);
	}
	100% {
		left: calc(100% + 24px);
		transform: translate(-50%, -50%) rotate(-16deg);
	}
}
@keyframes dots {
	5% {
		opacity: 0.6;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	25% {
		top: 20%;
		transform: translate(-50%, -30%) rotate(-32deg);
	}
	32%,
	50% {
		top: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		opacity: 1;
	}
	51%,
	100% {
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}
}
.section-products-error {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;
	align-items: center;
	@media (max-width: 48em) {
		grid-template-columns: auto;
	}
	// .section-products-error__media
	&__media {
		position: relative;
		height: 100%;
		@media (max-width: 48em) {
			height: 15rem;
		}
	}
	// .section-products-error__image
	&__image {
		object-fit: contain;
	}
	// .section-products-error__content
	&__content {
		text-align: center;
	}
	// .section-products-error__title
	&__title {
		font-size: 3rem;
		line-height: 112%;
		color: var(--errorColor);
		margin-bottom: 0.5em;
		@media (max-width: 62em) {
			font-size: 2.5rem;
		}
		@media (max-width: 30em) {
			font-size: 2rem;
		}
	}
	// .section-products-error__subtitle
	&__subtitle {
		margin-bottom: 1em;
	}
	// .section-products-error__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem 1rem;
	}
	// .section-products-error__button-home
	&__button-home {
	}
	// .section-products-error__button-retry
	&__button-retry {
	}
}

// cart ------------------------
.cart-drawer {
	position: fixed;
	inset: 0;
	z-index: 6;
	// .cart-drawer__backdrop
	&__backdrop {
		position: absolute;
		inset: 0;
		background-color: rgba(var(--mainDarkColor, 0.3));
	}
	// .cart-drawer__body
	&__body {
		position: relative;
		z-index: 1;
		margin-left: auto;
		width: 100%;
		height: 100%;
		max-width: 40rem;
		padding: 60px;
		background-color: var(--hoverBackgroundColor);
		box-shadow: -8px 0px 32px rgba(133, 99, 0, 0.12);
		@media (max-width: 64em) {
			padding: 30px;
			overflow-y: auto;
			overflow-x: clip;
		}
		@media (max-width: 40em) {
			padding: 20px;
		}
		@media (max-width: 30em) {
			padding: 0px;
		}
	}
}
.cart {
	display: flex;
	flex-direction: column;
	outline: none;
	height: 100%;
	// .cart__header
	&__header {
		display: grid;
		grid-template-columns: 56px 1fr;
		gap: 5px 20px;
		align-items: flex-start;
		margin-bottom: 1.5em;
		@media (max-width: 30em) {
			padding: 1rem;
			margin-bottom: 0.5rem;
		}
	}
	// .cart__btn-close
	&__btn-close {
		grid-row: 1 / 3;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background-color: var(--accentColor);
		color: var(--mainDarkColor);
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentHoverColor);
			}
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			outline-offset: 2px;
		}
		svg {
			color: inherit;
		}
	}
	// .cart__title
	&__title {
		grid-column: 2 / 3;
		grid-row: span 1;
		justify-self: flex-end;
		font-size: 4rem;
		line-height: 112%;
		color: var(--mainDarkColor);
		@media (max-width: 48em) {
			font-size: 3rem;
		}
	}
	// .cart__quantity
	&__quantity {
		grid-column: 2 / 3;
		grid-row: span 1;
		justify-self: flex-end;
		font-size: 1.25rem;
	}
	// .cart__body
	&__body {
		position: relative;
		flex: 1 1 auto;
		margin-right: -48px;
		padding-right: 48px;
		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			width: calc(100% - 48px);
			height: 3.5rem;
			background: linear-gradient(0deg, #fff2d6 0%, rgba(255, 242, 214, 0) 100%);
			pointer-events: none;
			transform-origin: bottom;
			transition: transform 0.1s ease-in-out;
			@media (max-width: 62em) {
				width: calc(100% - 20px);
			}
			@media (max-width: 62em) {
				display: none;
			}
		}
		.os-theme-dark.os-scrollbar .os-scrollbar-track .os-scrollbar-handle {
			background-color: var(--accentColor);
		}
		.os-theme-dark.os-scrollbar.os-scrollbar-interaction .os-scrollbar-track .os-scrollbar-handle {
			filter: brightness(0.7);
		}
		&[data-endscrolled="true"] {
			&::after {
				transform: scaleY(0);
				transition: transform 0.05s ease-in-out;
			}
		}
		@media (max-width: 62em) {
			margin-right: -20px;
			padding-right: 20px;
		}
	}
	// .cart__empty
	&__empty {
	}
	// .cart__list
	&__list {
	}
	// .cart__footer
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 32px 0 0;
		@media (max-width: 62em) {
			padding: 32px 0;
		}
		@media (max-width: 30em) {
			padding: 1rem;
		}
	}
	// .cart__total-price
	&__total-price {
		align-self: flex-start;
		font-size: 4rem;
		span {
			color: var(--priceColor);
		}
		@media (max-width: 48em) {
			font-size: 3rem;
		}
	}
	// .cart__btn-submit
	&__btn-submit {
	}
}
.cart-backdrop-transition {
	&-enter,
	&-appear {
		opacity: 0;
	}
	&-enter-active,
	&-appear-active {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
}
.cart-body-transition {
	&-enter,
	&-appear {
		transform: translateX(100%);
	}
	&-enter-active,
	&-appear-active {
		transform: translateX(0);
		transition: transform 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
	}
	&-exit {
		transform: translateX(0);
	}
	&-exit-active {
		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(0.82, 0.085, 0.395, 0.895);
	}
}
.cart-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	// .cart-empty__image
	&__image {
		position: relative;
		width: 100%;
		max-width: 30rem;
		height: 413.13px;
		@media (max-width: 30em) {
			max-width: 20rem;
			height: 275.41px;
			margin: 0 auto;
		}
		img {
			object-fit: contain;
		}
	}
	// .cart-empty__message
	&__message {
		font-size: 3rem;
		line-height: 112%;
		color: var(--mainDarkColor);
		@media (max-width: 30em) {
			font-size: 2.5rem;
			text-align: center;
		}
	}
	// .cart-empty__btn
	&__btn {
	}
}
.cartEmptyTransition {
	&-enter,
	&-appear {
		transform: translateX(100%);
	}
	&-enter-active,
	&-appear-active {
		transform: translateX(0);
		transition: transform 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
	}
	&-exit {
		transform: translateX(0);
	}
	&-exit-active {
		transform: translateX(100%);
		transition: transform 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
	}
}
.cart-list {
	// .cart-list__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	// .cart-list__item
	&__item {
	}
}
.cartItemTransition {
	&-enter,
	&-appear {
		opacity: 0;
		transform: translateX(100%);
	}
	&-enter-active,
	&-appear-active {
		opacity: 1;
		transform: translateX(0);
		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	}
	&-exit {
		opacity: 1;
		transform: translateX(0);
	}
	&-exit-active {
		opacity: 0;
		transform: translateX(100%);
		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	}
}
.cart-item-actions {
	display: flex;
	align-items: center;
	gap: 20px;
	// .cart-item-actions__counter
	&__counter {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		min-height: 3.75rem;
		padding: 0.5em;
		border-radius: 2rem;
		background-color: var(--hoverBackgroundColor);
		@media (max-width: 48em) {
			min-height: 3.25rem;
			padding: 0.25em;
		}
	}
	// .cart-item-actions__counter-button
	&__counter-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		background-color: transparent;
		color: var(--mainDarkColor);
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentHoverColor);
			}
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			background-color: var(--accentHoverColor);
		}
		&:disabled {
			pointer-events: none;
			color: rgba(var(--mainDarkColor, 0.3));
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: background-color 0.3s ease-in-out;
		}
		svg {
			color: inherit;
		}
	}
	// .cart-item-actions__counter-input
	&__counter-input {
		margin: 0 0.25rem;
		width: 2rem;
		height: 2rem;
		border: none;
		background-color: transparent;
		font-size: 1.5rem;
		color: var(--mainDarkColor);
		text-align: center;
		pointer-events: none;
	}
	// .cart-item-actions__btn-remove
	&__btn-remove {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4.5rem;
		height: 3.75rem;
		border-radius: 2rem;
		background-color: var(--accentColor);
		color: var(--mainDarkColor);
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentHoverColor);
				color: var(--blue1Color);
			}
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: none;
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			outline-offset: 2px;
		}
		svg {
			color: inherit;
			width: 1.5rem;
			height: 1.5rem;
		}
		@media (max-width: 48em) {
			height: 3.25rem;
			width: 4rem;
		}
	}
}
.cart-item {
	display: grid;
	grid-template-columns: 7.5rem 1fr;
	gap: 20px;
	padding: 16px 30px 36px 16px;
	border-radius: 36px;
	background-color: #ffffff;
	@media (max-width: 62em) {
		grid-template-columns: 10rem 1fr;
	}
	@media (max-width: 40em) {
		grid-template-columns: 7.5rem 1fr;
		padding: 16px;
	}
	@media (max-width: 35em) {
		grid-template-columns: 1fr;
	}
	// .cart-item__photo
	&__photo {
		grid-row: 1 / 3;
		align-self: flex-start;
		display: block;
		border-radius: 50%;
		overflow: hidden;
		@media (any-hover: hover) {
			&:hover {
				animation: imageRotation 0.5s linear;
			}
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			animation: imageRotation 0.5s linear;
		}
		@media (max-width: 35em) {
			grid-row: 2 / 3;
			max-width: 20rem;
			margin: 0 auto;
		}
	}
	// .cart-item__img
	&__img {
		img {
			max-width: 100%;
		}
	}
	// .cart-item__title
	&__title {
		grid-column: 2 / 3;
		margin-top: 0.625em;
		font-size: 2rem;
		line-height: 125%;
		color: var(--mainDarkColor);
		transition: color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				color: var(--blue1Color);
			}
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: none;
		}
		@media (max-width: 35em) {
			grid-column: 1 / 2;
			margin-top: 0;
			text-align: center;
		}
	}
	// .cart-item__sizes
	&__sizes {
		grid-column: 2 / 3;
		@media (max-width: 35em) {
			grid-column: 1 / 2;
		}
	}
	// .cart-item__double-filling
	&__double-filling {
		grid-column: 2 / 3;
		@media (max-width: 62em) {
			.cart-item__double-filling-btn {
				padding: 14px 30px 14px 64px;
				font-size: 1.5rem;
			}
		}
		@media (max-width: 48em) {
			.cart-item__double-filling-btn {
				padding: 14px 30px 14px 64px;
				font-size: 1.25rem;
				&::before {
					left: 8px;
				}
			}
		}
		@media (max-width: 35em) {
			grid-column: 1 / 2;
		}
		@media (max-width: 30em) {
			.cart-item__double-filling-btn {
				white-space: unset;
			}
		}
	}
	// .cart-item__double-filling-btn
	&__double-filling-btn {
		width: 100%;
	}
	// .cart-item__crunch
	&__crunch {
		grid-column: 2 / 3;
		@media (max-width: 35em) {
			grid-column: 1 / 2;
		}
	}
	// .cart-item__actions
	&__actions {
		grid-column: 2 / 3;
		@media (max-width: 35em) {
			grid-column: 1 / 2;
		}
	}
	// .cart-item__price
	&__price {
		grid-column: 2 / 3;
		font-size: 2rem;
		line-height: 125%;
		color: var(--mainDarkColor);
		justify-self: flex-end;
		@media (max-width: 40em) {
			padding-right: 1rem;
		}
		@media (max-width: 35em) {
			grid-column: 1 / 2;
		}
	}
}

// -----------------------------
.sizes-group {
	display: flex;
	align-items: flex-end;
	gap: 20px;
	// .sizes-group__label
	&__label {
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				.sizes-group__svg {
					animation: shake 0.3s linear forwards;
				}
				.sizes-group__svg-stroke {
					stroke: var(--blue1Color);
				}
				.sizes-group__svg-stroke-fill {
					fill: var(--blue1Color);
				}
			}
		}
	}
	// .sizes-group__input
	&__input {
		&:checked + .sizes-group__svg .sizes-group__svg-fill {
			fill: var(--accentColor);
		}
		&:checked + .sizes-group__svg .sizes-group__svg-stroke {
			stroke: var(--mainDarkColor);
		}
		&:checked + .sizes-group__svg .sizes-group__svg-stroke-fill {
			fill: var(--mainDarkColor);
		}
		&:focus-visible + .sizes-group__svg {
			outline: 2px solid var(--blue1Color);
			outline-offset: 6px;
			border-radius: 8px;

			animation: scale 0.3s linear forwards;
		}
		&:disabled + .sizes-group__svg {
			animation: none;
		}
		&:disabled + .sizes-group__svg .sizes-group__svg-stroke {
			stroke: rgba(var(--mainDarkColor, 0.5));
		}
		&:disabled + .sizes-group__svg .sizes-group__svg-stroke-fill {
			fill: rgba(var(--mainDarkColor, 0.5));
		}
	}
	// .sizes-group__svg
	&__svg {
		display: block;
	}
	// .sizes-group__svg-fill
	&__svg-fill {
		fill: #ffffff;
		transition: fill 0.3s ease-in-out;
		&.sizes-group__svg-stroke {
			transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
		}
	}
	// .sizes-group__svg-stroke
	&__svg-stroke {
		stroke: var(--mainDarkColor);
		transition: stroke 0.3s ease-in-out;
	}
	// .sizes-group__svg-stroke-fill
	&__svg-stroke-fill {
		fill: var(--mainDarkColor);
		transition: fill 0.3s ease-in-out;
	}
}

@keyframes shake {
	0%,
	50%,
	100% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-10deg);
	}

	75% {
		transform: rotate(10deg);
	}
}
@keyframes scale {
	0%,
	50%,
	100% {
		transform: scale(1);
	}
	30%,
	70% {
		transform: scale(0.95);
	}
}
.crunches-select {
	width: 100%;
	// .crunches-select__button
	&__button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
		width: 100%;
		padding: 0.67em 1em;
		background-color: var(--hoverBackgroundColor);
		border-radius: 1.33em;
		font-size: 1.5rem;
		color: var(--mainDarkColor);
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accentHoverColor);
				color: var(--blue1Color);
			}
		}
		svg {
			color: inherit;
			transition: transform 0.3s ease-in-out;
		}
		&.active {
			background-color: var(--accentHoverColor);
			color: var(--blue1Color);
			svg {
				transform: rotate(180deg);
			}
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: color 0.1s ease-in-out;
		}
		&:focus-visible {
			outline: 2px solid var(--blue1Color);
			outline-offset: 2px;
		}
		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		@media (max-width: 48em) {
			font-size: 1.25rem;
		}
	}
	// .crunches-select__popover
	&__popover {
		.MuiPaper-root {
			border-radius: 1.6em;
			padding: 0.5em;
		}
	}
	// .crunches-select__list
	&__list {
	}
	// .crunches-select__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	// .crunches-select__item-button
	&__item-button {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 0.5em;
		padding: 0.5em;
		font-size: 1.5rem;
		border-radius: 1.33em;
		transition: background-color 0.3s ease-in-out;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--hoverBackgroundColor);
			}
		}
		&:active {
			color: var(--buttonActiveColor);
			transition: color 0.1s ease-in, background-color 0.3s ease-in-out;
		}
		&:focus-visible {
			outline: 2px solid var(--accentColor);
		}
		&[data-selected="true"] {
			background-color: var(--hoverBackgroundColor);
		}
		@media (max-width: 48em) {
			font-size: 1.25rem;
		}
	}
	// .crunches-select__item-img
	&__item-img {
		border-radius: 50%;
	}
	// .crunches-select__item-title
	&__item-title {
	}
}

// SectionAdvantages -------------------
.section-advantages {
	padding-bottom: 120px;
	text-align: center;
	// .section-advantages__inner
	&__inner {
	}
	// .section-advantages__title
	&__title {
		margin-bottom: 0.125em;
	}
	// .section-advantages__subtitle
	&__subtitle {
		font-size: 2rem;
		line-height: 125%;
		color: var(--mainDarkColor);
		margin-bottom: 1.25em;
	}
	&__button {
	}
}
.advantages-path {
	&:not(:last-child) {
		margin-bottom: 48px;
	}
	// .advantages-path__svg
	&__svg {
		width: 100%;
		height: 100%;
		max-width: 946px;
		max-height: 1100px;
		@media (max-width: 992px) {
			max-height: 850px;
		}
	}
	// .advantages-path__path
	&__path {
		stroke: var(--accentColor);
		stroke-width: 3;
		&--p1 {
			stroke-dasharray: 0 1000 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8;
			stroke-dashoffset: 0;
		}
		&--p2 {
			stroke-dasharray: 0 1000 8 8 8 8 8 8 8 8 8 8;
			stroke-dashoffset: 0;
		}
		&--p3 {
			stroke-dasharray: 0 1000 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
				8 8 8 8 8 8 8 8 8 8 8 8;
			stroke-dashoffset: 0;
		}
		&--p4 {
			stroke-dasharray: 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 1000;
			stroke-dashoffset: 250;
		}
		&--p5 {
			stroke-dasharray: 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 1000;
			stroke-dashoffset: 180;
		}
	}
	// .advantages-path__product
	&__product {
	}
	// .advantages-path__spoon
	&__spoon {
	}
	// .advantages-path__item
	&__item {
	}
	// .advantages-path__chocolate
	&__chocolate {
	}
}
.item-advantage {
	display: grid;
	gap: 8px 40px;
	grid-template-columns: 60px 1fr;
	max-width: 36rem;
	text-align: left;
	@media (max-width: 30em) {
		gap: 4px 16px;
		grid-template-columns: 45px 1fr;
	}
	// .item-advantage__icon
	&__icon {
		position: relative;
		grid-row: 1 / 3;
		grid-column: 1 / 2;
		img {
			object-fit: contain;
			object-position: top;
		}
	}
	// .item-advantage__title
	&__title {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		font-size: 2rem;
		line-height: 125%;
		color: var(--priceColor);
		@media (max-width: 30em) {
			font-size: 1.5rem;
		}
	}
	// .item-advantage__description
	&__description {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
		font-size: 1.25rem;
		line-height: 140%;
		color: var(--mainDarkColor);
	}
}
.section-advantages-mobile {
	padding: 40px 0;
	text-align: center;
	// .section-advantages-mobile__inner
	&__inner {
	}
	// .section-advantages-mobile__title
	&__title {
	}
	// .section-advantages-mobile__subtitle
	&__subtitle {
		font-size: 1.5rem;
		margin-bottom: 1.25em;
	}
	// .section-advantages-mobile__image
	&__image {
	}
	// .section-advantages-mobile__list
	&__list {
		display: grid;
		gap: 1em;
		overflow: hidden;
		margin-bottom: 1.25em;
	}
	// .section-advantages-mobile__item
	&__item {
		&:nth-child(even) {
			justify-self: flex-end;
		}
	}
	// .section-advantages-mobile__button
	&__button {
	}
}
